/* The animation code */
@keyframes example1 {
  5% {
    transform: scale(1.1);
  }
  16% {
    transform: scale(1);
  }
  32%,
  100% {
    transform: scale(1);
  }
}

@keyframes example2 {
  0% {
    transform: scale(1);
  }
  16% {
    transform: scale(0.9);
  }
  32%,
  100% {
    transform: scale(1);
  }
}

@keyframes example3 {
  0% {
    transform: rotate(0deg);
  }
  32% {
    transform: rotate(20deg);
  }
  48%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes example4 {
  0% {
    transform: translateY(0);
  }
  48% {
    transform: translateY(10px);
  }
  56% {
    transform: translateY(-10px);
  }
  64% {
    transform: translateY(0);
  }
}

@keyframes example5 {
  0% {
    transform: rotate(0);
  }
  64% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(0);
  }
}

@keyframes example6 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(10px);
  }
  88% {
    transform: translateX(-10px);
  }
  96% {
    transform: translateX(0);
  }
}

/* The element to apply the animation to */
.anim1 {
  animation-name: example1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.anim2 {
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.anim3 {
  animation-name: example3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.anim4 {
  animation-name: example4;
  animation-duration: 4s;

  animation-iteration-count: infinite;
}

.anim5 {
  animation-name: example5;
  animation-duration: 4s;

  animation-iteration-count: infinite;
}

.anim6 {
  animation-name: example6;
  animation-duration: 4s;

  animation-iteration-count: infinite;
}
