/* The animation code */
@keyframes example1 {
  0% {
    transform: scale(1);
  }
  8.333% {
    transform: scale(1.1);
  }
  16.666% {
    transform: scale(1);
  }
}

@keyframes example2 {
  0% {
    transform: scale(1);
  }
  8.333% {
    transform: scale(0.9);
  }
  16.666% {
    transform: scale(1);
  }
}

@keyframes example3 {
  0% {
    transform: rotate(0deg);
  }
  8.333% {
    transform: rotate(10deg);
  }
  16.666% {
    transform: rotate(0deg);
  }
}

@keyframes example4 {
  0% {
    transform: translateY(0);
  }
  8.333% {
    transform: translateY(10px);
  }
  16.666% {
    transform: translateY(0);
  }
}

@keyframes example5 {
  0% {
    transform: rotate(0deg);
  }
  8.333% {
    transform: rotate(-10deg);
  }
  16.666% {
    transform: rotate(0deg);
  }
}

@keyframes example6 {
  0% {
    transform: translateX(0);
  }
  8.333% {
    transform: translateX(10px);
  }
  16.666% {
    transform: translateX(0);
  }
}

/* The element to apply the animation to */
.anim1 {
  animation: example1 18s infinite;
}

.anim2 {
  animation: example2 18s infinite 3s;
}

.anim3 {
  animation: example3 18s infinite 6s;
}

.anim4 {
  animation: example4 18s infinite 9s;
}

.anim5 {
  animation: example5 18s infinite 12s;
}

.anim6 {
  animation: example6 18s infinite 15s;
}
